@model IEnumerable<HueLogging.Models.HueSession>

<h3>View Hue Sessions within the last @ViewBag.DaysBack day(s)</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Id</td>
			<td>Start</td>
			<td>End</td>
			<td>Duration (seconds)</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.StartDate.ToLocalTime()</td>
				<td>@item.EndDate.Value</td>
				<td>@((item.EndDate.Value - item.StartDate).TotalSeconds)</td>
			</tr>
		}
	</tbody>
</table>
<p>A total of @(Model.Sum(item =>(item.EndDate.Value - item.StartDate).TotalMinutes)) minute(s)</p>