@model IEnumerable<HueLogging.Models.LightEvent>
@{
    ViewData["Title"] = "Index";
}

<h2>View Details for @Model.First().Light.Name</h2>
<dl>
	<dt>Id</dt>
	<dd>@Model.First().Light.Id</dd>
	<dt>Type</dt>
	<dd>@Model.First().Light.HueType</dd>
	<dt>Name</dt>
	<dd>@Model.First().Light.Name</dd>
	<dt>Model Id</dt>
	<dd>@Model.First().Light.ModelId</dd>
	<dt>Software Version</dt>
	<dd>@Model.First().Light.SWVersion</dd>
</dl>

<h3>View Events within the last @ViewBag.DaysBack day(s)</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Id</td>
			<td>Date</td>
			<td>State (Is On)</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.AddDate.ToLocalTime()</td>
				@* TODO: reflect state better (use more of the state; vcomponent it *@
				<td>@item.State.On</td> 
			</tr>
		}
	</tbody>
</table>
@await Component.InvokeAsync("HueUsage", new { lightId = Model.First().Light.Id, daysBack = ViewBag.DaysBack })

 
@*<vc:HueUsage lightId="@Model.First().Light.Id" daysBack="@ViewBag.DaysBack"></vc:HueUsage>*@
