@model HueLogging.Models.Light
@{
	ViewData["Title"] = Model.Name;
}
<h2>View Details for @Model.Name</h2>
<div class="row">
	<div class="col-xs-12">
		<dl>
			<dt>Id</dt>
			<dd>@Model.Id</dd>
			<dt>Type</dt>
			<dd>@Model.HueType</dd>
			<dt>Name</dt>
			<dd>@Model.Name</dd>
			<dt>Model Id</dt>
			<dd>@Model.ModelId</dd>
			<dt>Software Version</dt>
			<dd>@Model.SWVersion</dd>
		</dl>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		@await Component.InvokeAsync("HueEvents", new { lightId = Model.Id, daysBack = ViewBag.DaysBack })
	</div>
	<div class="col-lg-6">
		@await Component.InvokeAsync("HueUsage", new { lightId = Model.Id, daysBack = ViewBag.DaysBack })
	</div>
</div>

@*<vc:HueUsage lightId="@Model.Id" daysBack="@ViewBag.DaysBack"></vc:HueUsage>*@
